{% extends "base.html" %} {% block title %}About Us{% endblock %}

{% block content%}
 <h1 align="center">Get to know us</h1>
 <div class="container-fluid">
    <p>Towering Heights schools is a centre of education that prides itself 
        on creating leaders of tomorrow. We produce not only educated, but morally 
        sound students. We make sure to carry our parents along every step of 
        the way and give them a comfortable atmosphere in which they can 
        converse with the school to ensure the best results from their children.
    </p>
 </div>
 <h1 align="center">Our Values</h1>
 <div class="container-fluid">
    <p>We pride ourselves in the quality of children we raise.
    </p>
 </div>
 <h1 align="center">Vision and Mission</h1>
 <div class="container-fluid">
    <p>Values and ethos are the key foundations of any civilised society.
    </p>
 </div>
 
{% endblock %}  