{% extends "base.html" %} {% block title %}About Us{% endblock %}

{% block content%}

 
 <main role="main" class="container">

   <div class="starter-template" style="margin-top:100px;">
      <h1 style="text-align: center;">Get to know us</h1>
      <p class="lead" align="center">Towering Heights schools is a centre of education that prides itself 
         on creating leaders of tomorrow.<br> We produce not only educated, but morally 
         sound students. <br> We make sure to carry our parents along every step of 
         the way and give them a comfortable atmosphere in which they can 
         converse with the school to ensure the best results from their children.
         </p>

         <div class="starter-template">
            <h1 style="text-align: center;">Our Values</h1>
            <p class="lead" align="center">We pride ourselves in the quality of children we raise.</p>

               <div class="starter-template">
                  <h1 style="text-align: center;">Vision and Mission</h1>
                  <p class="lead" align="center">Values and ethos are the key foundations of any civilised society. 
                     Hillside’s nurturing environment provides the vital support each boy needs to learn and mature. 
                     Our community’s extraordinary patience guides our boys to develop a solid foundation of compassion and self-esteem throughout their lives. 
                     Through our comprehensive yet flexible structure, as well as the experience that enables us to work with every boy at his own level of personal development, Hillside helps students to navigate the uncertain world of early adolescence.
                     A Hillside boy gains the skills and confidence to challenge himself in every aspect of his life and positively broadens and enriches his character and sense of identity. 
                     He learns to look beyond himself and to recognize excellence in others, an essential step to becoming a well-balanced, productive and happy individual.</p>
               </div>
            </div>            

               <div class="starter-template">
                  <h1 style="text-align: center;">BACKROUND</h1>
                  <p class="lead" align="center">
BECKY PARKER COLLEGE (BPC)is a private co-educational boarding school situated some four kilometer on Oba-Ile road, East of Akure,the Ondo State capital, Nigeria .The college offers courses leading to General Certificate of Basic Education (GCBE),West African Senior Secondary Certificate Examinations(WASSCE),Senior Secondary Certificate Examination(SSCE) NECO,General Certificate of Education(GCE)Advanced level.
The school opened in October 1994, it was established to provide holistic education that complements the National Education system and facilitates access into universities at local and international levels.
The school’s aim is to give each child every opportunity to discover personal abilities and develop them to the full thereby attaining excellence in moral behaviour, physical and academic development in a conducive learning environment with the right caliber of staff.

LOCATION
The Campus of Becky Parker College has been given the appellation²ROCKVIEW CAMPUS” because of the imposing outcrop of granite rocks which stretch at its eastern end like a sentry. The overall cross-sectional scenery is like half of a broken earthenware</p>
               </div>

               <div class="starter-template">
                  <h1 style="text-align: center;">LOCATION</h1>
                  <p class="lead" align="center">The Campus of Becky Parker College has been given the appellation²ROCKVIEW CAMPUS” because of the imposing outcrop of granite rocks which stretch at its eastern end like a sentry. 
                     The overall cross-sectional scenery is like half of a broken earthenware</p>
               </div>                  
         </div>
 
 </main><!-- /.container -->




{% endblock %}  