{% extends "base.html" %} {% block title %}About Us{% endblock %}

{% block content%}

 
 <main role="main" class="container">

   <div class="starter-template" style="margin-top:100px;">
      <h1 style="text-align: center;">Get to know us</h1>
      <p class="lead" align="center">Towering Heights schools is a centre of education that prides itself 
         on creating leaders of tomorrow.<br> We produce not only educated, but morally 
         sound students. <br> We make sure to carry our parents along every step of 
         the way and give them a comfortable atmosphere in which they can 
         converse with the school to ensure the best results from their children.
         </p>

         <div class="starter-template">
            <h1 style="text-align: center;">Our Values</h1>
            <p class="lead" align="center">We pride ourselves in the quality of children we raise.</p>

               <div class="starter-template">
                  <h1 style="text-align: center;">Vision and Mission</h1>
                  <p class="lead" align="center">Values and ethos are the key foundations of any civilised society.</p>
               </div>
            </div>                    
         </div>
 
 </main><!-- /.container -->




{% endblock %}  