{% extends "base.html" %} {% block title %}For Parents{% endblock %}

{% block content%}

<main role="main" class="container">

  <div class="starter-template">
    <h1>For prospective parents</h1>
    <p class="lead" style="text-align: center;">If you want your child to achieve the peak in life then Towering Heights is for you. <br>  
With the highest calibre of staff, a tranquil environment and unique teaching 
techniques without a doubt your ward will accomplish their potentials.<br>  
Bring your wards today, excellence is inevitable!</p>
  </div>

</main><!-- /.container -->

      <!-- Background image -->
    <div class="position-relative">
      <div
        class="svg-wrapper bg-image shadow-1-strong rounded-lg"
        style="
          background-image: url('https://www.drive.google.com/uc?id=1HXhoDODBoe-fE6n-akvdpftEE5oMbW0-');
          height: 100vh;
          -webkit-background-composite: border;
          background-size: cover;
        "
      >
        <svg
          data-name="Layer 1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1200 120"
          preserveAspectRatio="none"
          class="svg"
          style="
            height: 669px;
            width: 100%;
            fill: rgb(20, 77, 133);
            opacity: 0.8;
            transform: rotateY(180deg);
            transform: rotateX(180deg);"
          >
          <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"></path>
        </svg>
      </div>
    </div>
    <!-- Background image -->

{% endblock %}  