{% extends "base.html" %} {% block title %}Vacancies{% endblock %}

{% block content%}


 <div class="container-fluid">

 <main role="main" class="container">

    <div class="starter-template">
      <h1 align="center">We're Hiring!</h1>
      <p class="lead" style="text-align: center;">Vacancy! Vacancy!! Vacancy!!! Towering Heights School is looking for experienced 
        primary school class teacher to join our team by September 2021. 
        Qualifications required are NCE, HND or Degree holder. 
        Contact 08105313377 for further enquiry. </p>
    </div>

  </main><!-- /.container -->
</div> 

<div class="container">
        <img align="center" src="https://www.drive.google.com/uc?id=1TdFJhWOeu5dp-DOWgRmPtC5QuD9oTI0u" alt="Current staff of THS in blue staff ensemble.">
</div>
{% endblock %}